{% extends "base.html" %}
{% block head_title %}Saira Taneja{% endblock head_title %}
{% block head_css %}
    <style>
      body {
        background-color: #F7F7F7;
	margin-top: 8rem;
      }
      .img-placeholder {
      }
      .hero-img {
        width: 100%;
	smax-height: 516px;
	object-position: center;
	object-fit: cover;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .hero-jumbotron {
	color: #474747;
        font-family: 'Inconsolata', monospace;

      }
      .hero-jumbotron ul li {
	line-height: 2rem;
	margin: 30px 0;
	text-align: justify;
      }

      div.tag-container {
        width: 100%;
      }

      .tag-container a {
            background-color: #FFFFFF;
            color: #474747;
	    width: auto;
	    height: 3rem;
	    line-height: 3rem;
	    vertical-align: middle;
	    padding: 0 1.5rem;
	    padding-left: calc(0.125rem + 1.5rem);
	    font-size: 1em;
	    font-family: 'Inconsolata', monospace;
	    letter-spacing: 0.125rem;
	    font-weight: 400;
	    border-radius: 0rem;
            text-decoration: none;
	    margin: 5px 0 ;
      }

      .tag-container a:hover {
        background-color: #FFE7D9
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      @media (max-width: 767px) {
	body {
          margin-top: 2rem;
	}
        .hero-jumbotron {
          flex-direction: column-reverse;
        }
	.hero-img {
	  width: 100%;
	}
        .tag-container a {
          margin: 5px;
        }
      }
    </style>
{% endblock head_css %}
{% block head_js %}
{% endblock head_js %}
{% block body_content %}
<main>
  <div class="container">
    <div class="row hero-jumbotron">
      <div class="offset-lg-1 col-lg-6 col-md-7 col-sm-12 pe-md-3 pe-lg-5">
        <h1 class="display-4 fw-bold text-center text-md-end mb-4">Saira Taneja</h1>
	<div class="fs-6 text-center text-md-end">
          <ul class="list-unstyled text-muted">
            <li>I live in Boston (but don't have a Boston accent)</li>
            <li>I speak a few languages (native speakers would suggest with awkward accents)</li>
	    <li>I have spent about 20 days of my life <a href="https://www.dhamma.org/en/about/vipassana" target="_blank">silent</a> (some would encourage me to up that number)</li>
	    <li>I <a href="https://medium.com/@taneja_34798/21-tips-for-a-successful-indian-pandemic-wedding-14f35ba1e659" target="_blank">married</a> my best friend during the pandemic</li>
	    <li>I am one part <a href="https://www.amazon.com/Seek-Saira-Taneja-ebook/dp/B07H864ZHP" target="_blank">right-brained</a>, one part <a href="https://www.bentley.edu/academics/graduate-programs/mba" target="_blank">left-brained</a>, one part find that delineation silly</li>
	    <li>I both attempt <a href="https://opensea.io/assets/0x495f947276749ce646f68ac8c248420045cb7b5e/106744972211630397204773409281796338191105284157830413959730190405527509401601" target="_blank">art</a> and serve on the board of the <a href="https://artsandbusinesscouncil.org/" target="_blank">Arts & Business Council</a></li>
	    <li>I frolicked in one of the most <a href="https://www.ideocolab.com/" target="_blank">innovative playgrounds</a> one summer</li>
	    <li>I have funneled all my persistent curiosity of our minds, bodies, and systems to care for them into <a href="https://www.linkedin.com/in/sairataneja/" target="_blank">a career</a> in healthcare</li>
	  </ul>
	</div>
      </div>
      <div class="col-xxl-4 col-md-5 col-sm-12 pb-5 pb-md-0">
        <img src="images/image01.jpg" class="hero-img">
	<div class="d-inline-flex flex-wrap justify-content-center justify-content-md-between tag-container py-3 ">
            <a href="https://linkedin.com">LinkedIn</a>
	    <a href="https://medium.com">Medium</a>
	    <a href="https://twitter.com">Twitter</a>
	</div>
      </div>
    </div>
  </div>
<!--
  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Saira</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Change the background</h2>
          <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
          <button class="btn btn-outline-light" type="button">Example button</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Add borders</h2>
          <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
          <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021
    </footer>
  </div>
-->
</main>
{% endblock body_content %}

